<div>
    <main-nav [sidenav]="sideNavdrawer"></main-nav>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sideNavdrawer mode="side" opened>
            <app-nav-drawer></app-nav-drawer>
        </mat-sidenav>
        <mat-sidenav-content [@onMainContentChange]="onNavdrawerChange ? 'open': 'close'">
            <div class="main-content">
                <div style="padding: 20px">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>