<div class="register-card-div">
    <mat-card class="register-card">
        <mat-card-header style="display: flex; justify-content:space-evenly;">
            <mat-card-title class="register-title">Registration Form</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form class="register-form">
                <table>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" name="firstname" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Lastname" name="lastname" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Username" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" type="password" name="password" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Confirm Password</mat-label>
                                <input matInput placeholder="Confirm Password" type="password" name="confirm-password" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" type="email" name="email" required>
                            </mat-form-field>
                        </td>
                    </tr>

                </table>
            </form>
        </mat-card-content>

        <mat-card-actions style="display: flex; justify-content:space-evenly;">
            <button mat-raised-button color="primary">Register</button>
        </mat-card-actions>

    </mat-card>
</div>