<mat-sidenav-container>

    <mat-sidenav-content>
        <mat-toolbar color="white">
            <div>
                <button mat-icon-button (click)="sidenav.toggle();">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div fxFlex fxLayout fxLayoutAlign="start center" fxFlexAlign="center" class="title">
                <button mat-flat-button class="app-title">
                    <mat-icon class="icon">grid_on</mat-icon>
                    <span fxHide fxShow.gt-sm>Resource Management</span>
                </button>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="center stretch">
                <ul>
                    <li>
                        <span class="spacer"></span>
                        <span class="project-title">Project</span>
                    </li>
                </ul>
            </div>


            <div fxFlex fxLayout fxLayoutAlign="flex-end">
                <ul fxLayout fxLayoutGap="20px" class="header-items">
                    <li style="position: relative; overflow: hidden;">
                        <a>

                            <ng-template #popTemplate>
                                <div style="width: 100%;">
                                    <table class="popover-user-details">
                                        <tr>
                                            <th colspan="2" style="justify-content: center;">
                                                <br>
                                                <div class="user-role">
                                                    Cost Manager
                                                </div>

                                                <br>
                                                <div class="user-join-detail">
                                                    Member since
                                                </div>

                                                <br>
                                                <div class="user-join-detail">
                                                    November-2015
                                                </div>
                                            </th>
                                        </tr>
                                    </table>

                                    <div style="height: 60px;">

                                        <table class="popover-buttons-table">
                                            <tr style="background-color: gray;">
                                                <td>
                                                    <span id="profile-button-span">
                                                        <button class="popover-buttons-design" routerLink="/resources">
                                                            profile
                                                        </button>          
                                                    </span>
                                                </td>

                                                <td>
                                                    <span id="signout-button-span">          
                                                        <button class="popover-buttons-design" routerLink="/login">
                                                            sign out
                                                        </button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>

                            <button type="button" mat-flat-button [popover]="popTemplate" [outsideClick]="true" container="body">
                                <mat-icon class="icon">account_circle</mat-icon>
                            </button>

                            <span fxHide fxShow.gt-sm class="username">Cost Manager</span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <mat-icon class="icon">help_outline</mat-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <mat-divider class="mat-divider"></mat-divider>

        <!-- Add content here -->
        <ng-content></ng-content>

    </mat-sidenav-content>
</mat-sidenav-container>