mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

.container {
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
    color: rgba(0, 0, 0, 0.8);
}

.label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 85%;
}

.title {
    height: inherit;
    align-items: stretch;
}

.app-title {
    background-color: #F16621;
    font-size: 0.75em;
    height: 100%;
    width: fit-content;
    flex: 0 1 auto;
    align-items: baseline;
    color: white;
}

.project-title {
    font-size: 1.5em;
    font-weight: bolder;
}

.spacer {
    display: flex;
    align-items: baseline;
    flex: 1 1 auto;
}

.username {
    color: black;
}

.mat-divider {
    border-top-width: 3px;
    border-top-color: black;
}

a {
    text-decoration: none;
}

.user-role {
    font-size: 2.0em;
    justify-content: center;
    color: white;
}

.user-join-detail {
    font-size: 1.1em;
}

.popover-buttons-table {
    background-color: gray;
    width: 100%;
}

#profile-button-span {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

#signout-button-span {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.popover-buttons-design {
    font-size: 1.1em;
    margin: 10px 0px;
}

.popover-user-details {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}