<div class="login-card-div">
    <mat-card class="login-card">
        <mat-card-header style="display: flex; justify-content:space-evenly;">
            <mat-card-title class="login-title">Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form class="login-form">
                <table>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Username" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" type="password" name="password" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-checkbox>Remember me</mat-checkbox>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card-content>

        <mat-card-actions style="display: flex; justify-content:space-evenly;">
            <a mat-raised-button color="primary">Login</a>
            <a mat-raised-button color="warn" routerLink="/register">Sign Up</a>
        </mat-card-actions>



    </mat-card>
</div>